.border-box {
    box-sizing: border-box;
}

body {
    user-select: none;
}

.center {
    display: table;
    margin: 0 auto;
}

.input-field label {
    left: 0 !important;
}

.hidden {
    display: none;
}

.input-field {
    margin-top: 2rem;
}

.relative {
    position: relative;
}

.collection-item {
    padding: 15px !important;
}

.fixed-action-btn.horizontal {
    height: 56px;

    li {
        margin: 10px 15px 0 0;
    }
}

.select-wrapper {
    .disabled {
        display: none !important;
    }
}

.dropdown-third .dropdown-content li {
    float: left;
    width: 100%;
    display: block;
    clear: none;
    @media (min-width: 767px) {
        width: 50%;
    }
    @media (min-width: 1329px) {
        width: 33%;
    }
}

// LOGIN
.login {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
}

// INDEX
.fixed-action-btn {
    position: absolute !important;
    top: 30px !important;
    right: 0 !important;
}

.modal {
    top: 0 !important;
}

.modal-content {
    border: none !important;
    border-radius: 0;
}

.datepicker-wrapper {
    display: none;

    &.shown {
        display: block;
    }
}
